/* SETTING UP */
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  font-family: Verdana;
}

/* NAVIGATION BAR */
#navigation-bar {
  font-weight: bold;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
  overflow: auto;
  padding: 10px 50px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px #888888;
}

#logo img {
  max-height: 100px;
}

#navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 1%;
}

#navigation-list li {
  float: left;
}

#navigation-list li a {
  display: block;
  color: #00457d;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  margin: 0px 5px;
}

#navigation-bar-login {
  display: block;
  padding: 14px 20px;
  border: none;
  background-color: #00457d;
  color: white;
  border: 2px solid #00457d;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

/* NAVIGATION BAR ANIMATIONS */
#navigation-bar-login:hover {
  background-color: white;
  color: #00457d;
  transition-duration: 0.5s;
}

.hover-animation {
  display: inline-block;
  position: relative;
}

.hover-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #00457d;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* BODY */
#main-div {
  background-color: #515151;
  margin: 0;
  padding: 0;
  height: 540px;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
}

#main-div-ad {
  --all: 0px;
  --top-left: 30px;
  --bottom-right: 30px;
  background-color: rgba(0, 69, 125, 0.85);
  max-width: 40%;
  height: auto;
  margin: 10px;
  padding: 10px;
  position: absolute;
  bottom: 25px;
  right: 50px;

  -webkit-mask: linear-gradient(
        45deg,
        transparent 0 var(--bottom-left, var(--all)),
        #fff 0
      )
      bottom left,
    linear-gradient(
        -45deg,
        transparent 0 var(--bottom-right, var(--all)),
        #fff 0
      )
      bottom right,
    linear-gradient(135deg, transparent 0 var(--top-left, var(--all)), #fff 0)
      top left,
    linear-gradient(-135deg, transparent 0 var(--top-right, var(--all)), #fff 0)
      top right;
  -webkit-mask-size: 50.5% 50.5%;
  -webkit-mask-repeat: no-repeat;
}

#main-div-ad-contents {
  padding: 30px 20px;
  color: white;
}

#main-div-ad-contents h1,
p {
  padding: 25px 5px;
}

#main-div-ad-contents button {
  background-color: white;
  border: 3px solid white;
  border-radius: 50px;
  color: #00457d;
  padding: 15px 25px;
  text-align: center;
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
}

/* BODY AD ANIMATIONS */
#main-div-ad-contents button:hover {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  transition-duration: 0.5s;
}

/* FOOTER */
footer {
  height: 100px;
  width: 100%;
  background-color: #515151;
}
